<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>New Booking</title>
        <link
            rel="stylesheet"
            href="../../lib/font-awesome/fontawesome-free-5.15.1-web/css/all.css"
        />

        <link rel="stylesheet" href="../../CSS/header.css" />
        <link rel="stylesheet" href="../../CSS/menu-left.css" />
        <link rel="stylesheet" href="../../CSS/page-content.css" />
        <link rel="stylesheet" href="../../CSS/popup.css" />
    </head>
    <body>
        <div id="page-wrapper">
            <div class="page-header">
                <div class="page-logo">
                    <img src="../../Img/logo.png" alt="logo" />
                    <span>HVC</span>
                </div>

                <div class="bars menu-togger sidebar-togger">
                    <i class="fas fa-bars"></i>
                </div>
                <form class="search-form">
                    <input type="text" placeholder="Search..." name="query" />
                </form>
                <div class="top-menu">
                    <ul class="list-top">
                        <li class="noti">
                            <i class="far fa-bell"></i>
                        </li>
                        <li class="messages">
                            <i class="far fa-envelope"></i>
                        </li>
                        <li class="user">
                            <img src="../../Img/dp.jpg" alt="anh" />
                            <span>Chuong</span>
                            <i class="fas fa-caret-down dropdown-btn"></i>

                            <button>
                                <a href="../login.html">Đăng xuất</a>
                            </button>
                        </li>

                        <li class="setting">
                            <i class="fas fa-cog"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header-inner"></div>
            <div class="page-container">
                <div class="menu-left">
                    <div class="user-panel">
                        <div class="user-pic">
                            <img src="../../Img/dp.jpg" alt="user-pic" />
                        </div>
                        <div class="user-name">Chuong Hoang</div>
                        <div class="user-job">Manager</div>
                        <div class="user-extend">
                            <i class="far fa-user"></i>
                            <i class="far fa-envelope"></i>
                            <i class="far fa-comments"></i>
                            <i class="fas fa-sign-out-alt"></i>
                        </div>
                    </div>

                    <div class="menu-heading">
                        <span> -- Main</span>
                    </div>

                    <div class="list-menu">
                        <a href="../index.html" class="list-parent">
                            <i class="fas fa-tachometer-alt"></i>
                            <span>Dashboard</span>
                        </a>

                        <li class="list-parent dropdown-btn">
                            <i class="fas fa-life-ring left"></i>
                            <span>Books</span>
                            <i class="fas fa-caret-down down"></i>
                        </li>

                        <div class="dropdown-container">
                            <a href="viewBooking.html">View Booking</a>
                            <a href="newBooking.html">New Booking</a>
                            <a href="editBooking.html">Edit Booking</a>
                        </div>

                        <li class="list-parent dropdown-btn">
                            <i class="fas fa-hospital-alt"></i>
                            <span>Rooms</span>
                            <i class="fas fa-caret-down"></i>
                        </li>

                        <div class="dropdown-container">
                            <a href="../Room/viewRoom.html">View Room</a>
                            <a href="../Room/newRoom.html">New Room</a>
                            <a href="../Room/editRoom.html">Edit Room</a>
                        </div>

                        <li class="list-parent dropdown-btn">
                            <i class="fas fa-users"></i>
                            <span>Staff</span>
                            <i class="fas fa-caret-down"></i>
                        </li>

                        <div class="dropdown-container">
                            <a href="viewRoom.html">View Staff</a>
                            <a href="newRoom.html">New Staff</a>
                            <a href="editStaff.html">Edit Staff</a>
                        </div>
                    </div>
                </div>
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title">New Booking</div>
                    </div>
                    <div class="car-box">
                        <div class="car-search">
                            <label for="type-room">Type Room:</label>
                            <select id="type-room">
                                <option value="STD">STD</option>
                                <option value="SUP">SUP</option>
                                <option value="DLX">DLX</option>
                                <option value="SUI">SUI</option>
                            </select>
                            <label for="dateofbirth">Start</label>
                            <input
                                type="date"
                                name="dateofbirth"
                                id="dateofbirth"
                            />
                            <label for="dateofbirth">End</label>
                            <input
                                type="date"
                                name="dateofbirth"
                                id="dateofbirth"
                            />
                            <a href="#" class="nav-show-list">Search</a>
                        </div>
                    </div>

                    <div class="table-content">
                        <div class="card-header">
                            <div class="left-card">
                                <form action="">
                                    <label for="length_staff">show</label>
                                    <select
                                        name="length_staff"
                                        id="length_staff"
                                    >
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        <option value="25">25</option>
                                        <option value="30">30</option>
                                    </select>
                                </form>
                            </div>

                            <div class="right-card">
                                <form action="">
                                    <label for="search_staff">Search</label>
                                    <input type="text" class="search-staff" />
                                </form>
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="all_staff">
                                <tr>
                                    <th>Room</th>
                                    <th>Type</th>
                                    <th>Describe</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                </tr>

                                <tr>
                                    <td>101</td>
                                    <td>STD</td>
                                    <td>phòng có 1 giường cho 1 người ngủ.</td>
                                    <td>50k/h</td>
                                    <td>ok</td>
                                </tr>
                                <tr>
                                    <td>102</td>
                                    <td>SUP</td>
                                    <td>phòng có 2 giường cho 2 người ngủ</td>
                                    <td>60k/h</td>
                                    <td>ok</td>
                                </tr>
                                <tr>
                                    <td>103</td>
                                    <td>DLX</td>
                                    <td>
                                        phòng có 1 giường lớn cho 2 người ở ngủ.
                                    </td>
                                    <td>70k/h</td>
                                    <td>ok</td>
                                </tr>
                                <tr>
                                    <td>104</td>
                                    <td>SUT</td>
                                    <td>phòng lớn cho 3 người</td>
                                    <td>100k/h</td>
                                    <td>ok</td>
                                </tr>
                            </table>
                        </div>
                        <button id="myBtn">Book</button>
                        <div id="myModal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <div class="info-content">
                                    <p
                                        style="
                                            color: red;
                                            font-size: 40px;
                                            text-align: center;
                                        "
                                    >
                                        Chúc ngủ ngon
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-footer"></div>

            <script>
                var modal = document.getElementById("myModal");

                var btn = document.getElementById("myBtn");

                var span = document.getElementsByClassName("close")[0];

                btn.onclick = function () {
                    modal.style.display = "block";
                };

                span.onclick = function () {
                    modal.style.display = "none";
                };
                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                };
            </script>
            <script src="../../Script/scripts.js"></script>
        </div>
    </body>
</html>
