<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>View Booking</title>
        <link
            rel="stylesheet"
            href="../../lib/font-awesome/fontawesome-free-5.15.1-web/css/all.css"
        />
        <link rel="stylesheet" href="../../CSS/header.css" />
        <link rel="stylesheet" href="../../CSS/menu-left.css" />
        <link rel="stylesheet" href="../../CSS/page-content.css" />
        <link rel="stylesheet" href="../../CSS/popup.css" />
        <link rel="stylesheet" href="../../CSS/dialog.css">
         <script>
            fetchDateIntoTable = (data1) => {
                let data = data1.bookingDisplay;
                console.log("/n/n/n/n/n/n", data);
                let table = document.getElementById("all_booking_set");
                for (let i = 0; i < data.length; i++) {
                    let row = table.insertRow(i + 1);
                    let cellCustomerName = row.insertCell(0);
                    let cellRoomName = row.insertCell(1);
                    let cellStartDate = row.insertCell(2);
                    let cellEndDate = row.insertCell(3);
                    let cellPhoneNumber = row.insertCell(4);
                    let cellStaffName = row.insertCell(5);
                    let cellAction = row.insertCell(6);
                    cellCustomerName.innerHTML = data[i].customer.name_customer;
                    cellRoomName.innerHTML = data[i].booking.id_room;
                    let startDate = new Date(data[i].booking.start);
                    let d = startDate.getDate(startDate),
                        month = startDate.getMonth() + 1,
                        year = startDate.getFullYear(),
                        hour = startDate.getHours(),
                        minute = startDate.getMinutes();
                    cellStartDate.innerHTML =
                        d +
                        "/" +
                        month +
                        "/" +
                        year +
                        " - " +
                        hour +
                        "/" +
                        minute;
                    let endDate = new Date(data[i].booking.start);
                    d = endDate.getDate(data[i].booking.expire);
                    month = endDate.getMonth() + 1;
                    year = endDate.getFullYear();
                    hour = endDate.getHours();
                    minute = endDate.getMinutes();
                    cellEndDate.innerHTML =
                        d +
                        "/" +
                        month +
                        "/" +
                        year +
                        " - " +
                        hour +
                        "/" +
                        minute;
                    cellPhoneNumber.innerHTML = "0166969966";
                    cellStaffName.innerHTML = data[i].account.username;
                    cellAction.insertAdjacentHTML(
                        "beforeend",
                        '<i class="fa fa-list" style="padding-right:5px;" aria-hidden="true"></i>'
                    );
                    cellAction.insertAdjacentHTML(
                        "beforeend",
                        '<i class="fa fa-edit" style="padding-right:5px;"  ></i>'
                    );
                    cellAction.insertAdjacentHTML(
                        "beforeend",
                        '<i class="fa fa-trash" ></i>'
                    );
                }
            };

            getData = () => {
                let url = "http://localhost:8080/WebProject_war/book";
                myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/json");

                fetch(url, {
                    method: "get",
                    headers: myHeaders,
                    mode: "cors",
                    cache: "default",
                })
                    // .then(data => data.json())
                    .then((response) => response.json()) //Chuyen response ve dinh dang de co the doc duoc data: https://stackoverflow.com/questions/54656223/fetch-function-return-promise-pending/54656340
                    .then((data1) => {
                        fetchDateIntoTable(data1);
                    })
                    .catch((err) => {
                        console.error(err);
                    });
            };
        </script> -->
    </head>
    <body onload="getData()">
        <div id="page-wrapper">
            <div class="page-header">
                <div class="page-logo">
                    <img src="../../Img/logo.png" alt="logo" />
                    <span>HVC</span>
                </div>

                <div class="bars menu-togger sidebar-togger">
                    <i class="fas fa-bars"></i>
                </div>
                <form class="search-form">
                    <input type="text" placeholder="Search..." name="query" />
                </form>
                <div class="top-menu">
                    <ul class="list-top">
                        <li class="noti">
                            <i class="far fa-bell"></i>
                        </li>
                        <li class="messages">
                            <i class="far fa-envelope"></i>
                        </li>
                        <li class="user">
                            <img src="../../Img/dp.jpg" alt="anh" />
                            <span>Chuong</span>
                            <i class="fas fa-caret-down dropdown-btn"></i>

                            <button>
                                <a href="../login.html">Đăng xuất</a>
                            </button>
                        </li>

                        <li class="setting">
                            <i class="fas fa-cog"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header-inner"></div>
            <div class="page-container">
                <div class="menu-left">
                    <div class="user-panel">
                        <div class="user-pic">
                            <img src="../../Img/dp.jpg" alt="user-pic" />
                        </div>
                        <div class="user-name">Chuong Hoang</div>
                        <div class="user-job">Manager</div>
                        <div class="user-extend">
                            <i class="far fa-user"></i>
                            <i class="far fa-envelope"></i>
                            <i class="far fa-comments"></i>
                            <i class="fas fa-sign-out-alt"></i>
                        </div>
                    </div>

                    <div class="menu-heading">
                        <span> -- Main</span>
                    </div>

                    <div class="list-menu">
                        <a href="../index.html" class="list-parent">
                            <i class="fas fa-tachometer-alt"></i>
                            <span>Dashboard</span>
                        </a>

                        <li class="list-parent dropdown-btn">
                            <i class="fas fa-life-ring left"></i>
                            <span>Books</span>
                            <i class="fas fa-caret-down down"></i>
                        </li>

                        <div class="dropdown-container">
                            <a href="viewBooking.html">Booking Management</a>
                            <a href="newBooking.html">New Booking</a>
                        </div>

                        <li class="list-parent dropdown-btn">
                            <i class="fas fa-hospital-alt"></i>
                            <span>Rooms</span>
                            <i class="fas fa-caret-down"></i>
                        </li>

                        <div class="dropdown-container">
                            <a href="../Room/viewRoom.html">View Room</a>
                            <a href="../Room/newRoom.html">New Room</a>
                            <a href="../Room/editRoom.html">Edit Room</a>
                        </div>

                        <li class="list-parent dropdown-btn">
                            <i class="fas fa-users"></i>
                            <span>Staff</span>
                            <i class="fas fa-caret-down"></i>
                        </li>

                        <div class="dropdown-container">
                            <a href="../Staff/viewStaff.html">View Staff</a>
                            <a href="../Staff/newStaff.html">New Staff</a>
                            <a href="../Staff/editStaff.html">Edit Staff</a>
                        </div>
                    </div>
                </div>
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title">All Booking</div>
                    </div>
                    <div class="car-box">
                        <div class="type-view">
                            <a href="#" class="nav-show-list">List Book</a>
                        </div>
                    </div>

                    <div class="table-content">
                        <div class="card-header">
                            <div class="left-card">
                                <form action="">
                                    <label for="length_staff">show</label>
                                    <select
                                        name="length_staff"
                                        id="length_staff"
                                    >
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        <option value="25">25</option>
                                        <option value="30">30</option>
                                    </select>
                                </form>
                            </div>

                            <div class="right-card">
                                <form action="">
                                    <label for="search_staff">Search</label>
                                    <input type="text" class="search-staff" />
                                </form>
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="all_booking_set" class="styled-table">
                                <tr>
                                    <th>Name</th>
                                    <th>Room</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>Mobile</th>
                                    <th>Staff</th>
                                    <th>Action</th>
                                </tr>
                                <tr>
                                    <td>Do Nhu The</td>
                                    <td>Manager</td>
                                    <td>2020-11-22 00:00:00</td>
                                    <td>2020-11-23 00:00:00</td>
                                    <td>0983012606</td>
                                    <td>chuonghoang</td>
                                    <td>
                                        <i
                                            class="fas fa-info-circle"
                                            id="btn-detail"
                                        ></i>
                                        <i
                                            class="fas fa-edit"
                                            style="color: blue"
                                        ></i>

                                        <i
                                            class="fas fa-trash"
                                            style="color: red"
                                        ></i>
                                    </td>
                                </tr>
                            </table>
                        </div>



                        <div id="myModalDetail" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <h2>Booking Detail</h2>
                                <div class="info-content">
                                    
                                    <div class="left-container">
                                        <form>
                                            <ul class="form-style-1">
                                                <li><label>Room<span class="required">*</span></label><input type="text" name="field1" class="field-divided" placeholder="Room" /> </li>
                                                <li><label>Start<span class="required">*</span></label><input type="text" name="field2" class="field-divided" placeholder="Start" /></li>
                                                <li><label>End<span class="required">*</span></label><input type="text" name="field2" class="field-divided" placeholder="End" /></li>
                                                
                                                <li>
                                                    <label>Customer Name<span class="required">*</span></label>
                                                    <input type="text" name="customerName" class="field-long" />
                                                </li>
                                                <li>
                                                    <label>Mobile Customer<span class="required">*</span></label>
                                                    <input type="text" name="customerMobile" class="field-long" />
                                                </li>
                                                <li>
                                                    <label>CMND Customer<span class="required">*</span></label>
                                                    <input type="text" name="customerMobile" class="field-long" />
                                                </li>
                                               
                                            </ul>
                                        </form>
                                    </div>
                                    <div class="right-container" style="padding-left: 5px">
                                        <form>
                                            <ul class="form-style-1">
                                               
                                                <li><label>Start<span class="required">*</span></label><input type="text" name="field2" class="field-divided" placeholder="Start" /></li>
                                                <li><label>End<span class="required">*</span></label><input type="text" name="field2" class="field-divided" placeholder="End" /></li>
                                                
                                                <li>
                                                    <label>Customer Name<span class="required">*</span></label>
                                                    <input type="text" name="customerName" class="field-long" />
                                                </li>
                                                <li>
                                                    <label>Mobile Customer<span class="required">*</span></label>
                                                    <input type="text" name="customerMobile" class="field-long" />
                                                </li>
                                                <li style="float: right; padding-top: 15px;">
                                                    <input type="submit" value="Save" />
                                                </li>
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="page-footer"></div>

            <script src="../../Script/scripts.js"></script>
            <script>
                var modal = document.getElementById("myModalDetail");
        
                var btn = document.getElementById("btn-detail");
        
                var span = document.getElementsByClassName("close")[0];
        
                btn.onclick = function () {
                    modal.style.display = "block";
                };
        
                span.onclick = function () {
                    modal.style.display = "none";
                };
                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                };
            </script>
        </div>
    </body>
</html>

