<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Somehow I got an error, so I comment the title, just uncomment to show -->
      <!-- <title>Login & Signup Form | CodingNepal</title> -->
      <link rel="stylesheet" href="../CSS/login.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <div class="wrapper">
         <div class="title-text">
            <div class="title login">
               Đăng nhập
            </div>
            <div class="title signup">
               Signup Form
            </div>
         </div>
         <div class="form-container">
            <div class="form-inner">
                <!-- onsubmit="getResponse()" -->
                <!-- action="http://localhost:8080/WebProject-1.0-SNAPSHOT/login" method="POST" -->
                <form id="myForm" class="login">
                    <div class="field">
                        <input name="username" type="text" id="username" placeholder="Email" required>
                    </div>
                    <div class="field">
                        <input name="password" type="password" id="password" placeholder="Mật khẩu" required>
                    </div>
                    <div class="pass-link">
                        <a href="#">Quên mật khẩu</a>
                    </div>
                    <div class="field btn">
                        <div class="btn-layer"></div>
                        <input type="submit" onclick="getResponse()" value="Đăng nhập">
                    </div>
                </form>
            </div>
            </form>
        </div>
      
   </body>
   <script>
        function getResponse(){
            var xhttp = new XMLHttpRequest();
            alert(document.getElementById("username").value());
            xhttp.open("POST", "http://localhost:8080/WebProject_war/login?username="+document.getElementById("username").value()+"&password="+document.getElementById("password").value(), true);
            xhttp.addEventListener( "load", function(event) {
                alert( event.target.responseText );
            } );
            xhttp.addEventListener( "error", function( event ) {
                alert( event );
            } );
            xhttp.send();
        }
   </script>
</html>