html,
body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.7;
    font-family: sans-serif;
    box-sizing: border-box;
    font-weight: 400;
   
}

.page-header {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 59px;
    z-index: 1;
    background-color: white ;
}

.page-header .page-logo {
    background-color: #3a3f51;
    height: 60px;
    width: 15%;
    float: left;
    color: #fff;
    font-size: 25px;
    line-height: 42.5px;
}
.page-header .page-logo img {
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    font-weight: 500;
    margin-left: 20px;
    padding: 13px 13px;
    float: left;
}
.page-header .page-logo span {
    bottom: 10px;
    float: left;
    padding: 8px 0;
}

.bars {
    float: left;
    padding: auto;
    height: 100%;
    width: 3%;
}

.bars i {
    margin: 22px 23px;
}

.search-form {
    background-color: transparent;
    border: 1px solid #bdbdbd;
    border-radius: 30px;
    font-size: 15px;
    text-align: left;
    max-width: 200px;
    float: left;
    line-height: 25.5px;
    width: 100%;
    margin: 12px 0 0 10px;
}

.search-form input {
    border: 0;
    margin: 9px 9px;
}

.top-menu {
    float: right;
    line-height: 24px;
    margin-bottom: 0;
    margin-right: 10px;
    margin-top: 0;
    padding: 0;
    height: 100%;
    min-width: 330px;
   
}

.top-menu ul {
    list-style-type: none;
    margin: 0;
}

.top-menu ul li {
    float: left;
    position: relative;
    display: inline-block;

}

ul .noti {
    float: left;
    margin: 15px 15px;
}

ul .messages {
    float: left;
    margin: 15px 15px;
}

ul .user {
    float: left;
    line-height: 20px;
    text-align: left;
    
}


ul .user button {
    display: none;
    height: 30px;
    width: 100px;
    position: absolute;
    z-index: 1;
    background: #fff;
    top:47px;
    left: 22px;
}
ul .user button a {
    text-decoration: none;
    color: black;
}


ul .user img {
    border-radius: 50%;

    height: 55px;
    margin: auto;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    line-height: 42.5px;
    text-align: left;
    padding: 10px 5px;
    float: left;
}

ul .user span {
    margin-top: 15px;
    position: relative;
    top: 15px;
    line-height: 20px;
    font-size: 15px;
    padding-top: 10px;
}
ul .user i {
    position: relative;
    top: 15px;
}

ul .setting {
    float: left;
    margin: 14px 15px;
}
