.header-inner {
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    display: block;
    box-shadow: 0px 0px 0px 1px black;
}

.page-container {
    width: 100%;
    height: 100%;
}

.menu-left {
    min-height: 800px;
    background-color: #3a3f51;
    float: left;
    width: 15%;
}

.menu-left:hover {
    background-color: #273244;
}

.menu-left .user-panel {
    box-sizing: border-box;
    color: #aaadb7;
    float: left;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 10px 20px;
    text-align: left;
    width: 100%;
}
.menu-left .user-panel .user-pic img {
    border: 2px solid #d2d6de;
    border-radius: 50%;
    display: block;
    width: 70px;
    margin: 0 auto;
    padding: 3px;
}

.menu-left .user-panel .user-name {
    color: #aaadb7;
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin-top: 13px;
}

.menu-left .user-panel .user-job {
    color: #b7b6b6;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    margin-top: -6px;
}



.menu-left .user-panel .user-extend i {
    position: relative;
    box-sizing: border-box;
    margin: 10px 14px;
    font-size: 20px;


}

.menu-left .menu-heading{
    line-height: 24px;
    float: left;
    width: 100%;
    height: 40px;
}

.menu-left .menu-heading span {
    color: #d4d9eb;
    margin: 22px;
}


.menu-left .list-menu {
    width: 100%;
    float: left;
    
}

.menu-left .list-menu .list-parent {
    margin: 0;
    list-style: inside none none;
    display: block;
    height: 58px;
    color: #d4d9eb;
    text-decoration: none;
    position: relative;
}

.menu-left .list-menu .list-parent:hover {
    background-color: #343848;
    line-height: 24px;

}


.menu-left .list-menu .dropdown-container{
    display: none;
}


.menu-left .list-menu div a {
    margin: 0;
    list-style: inside none none;
    display: block;
    height: 20px;
    color: #d4d9eb;
    text-decoration: none;
    position: relative;
    padding: 10px 60px;
    background-color: #3a3f51;
    
}


.menu-left .list-menu div a:hover {
   
    background-color: #343848;
}







.menu-left .list-menu .list-parent i,
.menu-left .list-menu .list-parent span  {
    position: relative;
    top: 15px;
    left: 15px;
}

.menu-left .list-menu .list-parent .down {
    right: 5px;
}


