


.page-content {
  background-color: #eaeef3;
  box-sizing: border-box;
  color: rgba(0,0,0,.87);
  font-family: Poppins,sans-serif;
  font-size: 15px;
  float: left;
  width: 85%;
  min-height: 800px;
  list-style: outside none none;

}

.page-content .page-bar {
  width: 100%;
  height: 70px;
  display: block;
  float: left;
}

.page-content .page-bar .page-title {
  border-radius: 4px;
  color: #666;
  display: block;
  font-size: 24px;
  font-weight: 300;
  line-height: 40.8px;
  margin: 15px 35px;
  padding: 0;
  text-align: left;
}

.page-content .car-box {
  width: 100%;
  float: left;
  display: block;
}

.page-content .car-box a{
  font-size: 14px;
  background-color: #e91e63;
  border: 1px solid transparent;
  border-radius: 30px;
  box-shadow: rgba(0,0,0,.2) 0 5px 20px 0,rgba(233,30,99,.6) 0 13px 24px -11px;
  color: #fff;
  width: 100px;
  font-weight: 500;
  padding: 10px 15px;
  position: relative;
  text-align: left;
  text-decoration: none;
  margin-left: 27px;
}

.page-content .car-box .nav-show-gird {
  background-color: transparent;
  border: 1px solid transparent;
  color: #948f8f;
  padding: 10px 15px;
  text-decoration: none;
  margin-left: 1px;
}


.page-content .table-content {
  float: left;
  width: 96%;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  box-shadow: none;
  box-sizing: border-box;
  color: rgba(0,0,0,.87);
  line-height: 25.5px;
  margin-bottom: 20px;
  min-height: 500px;
  position: relative;
  top: 25px;
  left: 2%;
  right: 2%;
  text-align: left;
}

.page-content .table-content .card-header {
  width: 100%;
  margin: 10px 35px;
  font-size: 17px;
  display: block;
}




.page-content .table-content .card-header .left-card  {
  float: left;
  width: 50%;
  
}

.page-content .table-content .card-header .right-card  {
  float: left;
  width: 50%;
}


.page-content .table-content .card-header::after {
  content: "";
  display: block;
  clear: both;
}


.page-content .table-content .card-body table {
  width: 97%;
  margin-left: 15px;
  
}

.page-content .table-content .card-body table tr {
  background-color: #fbfcfd;
  border-spacing: 1.6px;
  border-top: 1px solid #dee2e6;
  color: #212529;
  line-height: 25.5px;
  text-align: center;
  
  
}

.page-content .table-content .card-body table th {
  height: 43px;
}

.page-content .table-content .card-body table td {
  height: 60px;
}


.page-content .table-content .card-body table tr:hover {
  background-color: #f3f4f6;
}


.page-content .table-content .card-body table tr td img {
  border: 1px solid #fff;
  border-collapse: collapse;
  border-radius: 50%;
  border-spacing: 1.6px;
  box-shadow: rgba(0,0,0,.2) 0 5px 25px 0;
  box-sizing: border-box;
  color: #212529;
  cursor: pointer;
  font-family: Poppins,sans-serif;
  font-size: 15px;
  line-height: 25.5px;
  quotes: auto;
  text-align: center;
  vertical-align: middle;
}